

cat_height=110
cat_align=center
cat_x_offset=0
cat_y_offset=0


mirror_x=0
mirror_y=0


overlay_height=120

overlay_opacity=0

overlay_position=bottom

layer=top


keyboard_device=/dev/input/event4




fps=60
idle_frame=0
keypress_duration=100

enable_hand_mapping=1


idle_sleep_timeout=120

enable_scheduled_sleep=0
sleep_begin=22:00
sleep_end=06:00







enable_debug=0
